In [1]:
#Python library for populating and handling data. Import the library using alias as pd.
import pandas as pd

In [2]:
#Load the csv file contents to variable using pandas function
dataset = pd.read_csv("Salary_Data.csv")

In [6]:
#View the dataset using multiple functions
dataset.head()
dataset.tail()

    YearsExperience    Salary
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [7]:
#Check data types
dataset.dtypes

YearsExperience    float64
Salary             float64
dtype: object

In [8]:
#Shows summary of the dataset
dataset.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [9]:
#Create,assign and display independent varible (X or input)
independent = dataset[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [10]:
#Create,assign and display dependent varible (Y or output)
dependent = dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [12]:
# Import train_test_split function from sklearn.model_selection package
from sklearn.model_selection import train_test_split
# Split independent and dependent arrays into X/y train/test data with test data size as 30% 
# (training data as 70%) with no random data. Total records (X/y) = 30 -> 21 (training) : 9 (test)
X_train,X_test,y_train,y_test = train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [24]:
# Import LinearRegression model and fit the input/output for learning
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [25]:
# Weight. y=wX+b
weight = regressor.coef_
weight

array([[9360.26128619]])

In [26]:
# Bias(Initial value). y=wX+b
bias = regressor.intercept_
bias

array([26777.3913412])

In [27]:
#Predict using the model
y_pred=regressor.predict(X_test)

In [28]:
#Check the R2 score to validate the accuracy of the model
from sklearn.metrics import r2_score
r_score=r2_score(y_test, y_pred)

In [29]:
#Accuracy of the model is 97% (close to 1)
r_score

0.9740993407213511

In [30]:
#Import pickle lib to save the model
import pickle
filename = "finalized_model_linear.sav"

In [32]:
#Save the model to file using write/binary mode
pickle.dump(regressor, open(filename,'wb'))

In [34]:
#Load the model from the file and test a prediction for a input
loaded_model = pickle.load(open("finalized_model_linear.sav",'rb'))
result = loaded_model.predict([[15]])
result

/Users/mani/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[167181.3106341]])